<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="MainContainer">
        <h1>데이터셋 선택</h1>

        <select name="dataset_id" form="form_test">
            <option value="0">제주도</option>
            <option value="1">폭염 기온</option>
        </select>
        <form action="/graph" method="GET" id="form_test">
            <input type="submit" value="전송"/>
        </form>
    </div>
</body>
</html>