<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인공지능 실험실</title>
    <%- include ("./common/cssScript") %>
</head>

<body>
    <div class="MainContainer">
        <div class="topBack">
            <div class="ui container">
                <div class="textBox">
                    <p><span style="font-size: 26px; line-height: 36px;">안녕하세요 여러분,<br><span class="yt">데이터 분석</span>
                            실험실에 오신걸
                            환영합니다.</span><br><br>
                        지금 부터 아래의 테이터를 이용하여, 데이터를 분석하고 조작한 그래프를 확인 할 수 있습니다.
                    </p>
                    <h4 class="yt">데이터를 선택해보세요.</h4>
                    <div class="ui selection dropdown">
                        <input type="hidden" name="gender">
                        <i class="dropdown icon"></i>
                        <div class="default text">선택</div>
                        <div class="menu">
                            <div class="item" data-value="0">제주도</div>
                            <div class="item" data-value="1">폭염 기온</div>
                        </div>
                    </div>
                    <!-- <select name="dataset_id" form="form_test">
                        <option value="0">제주도</option>
                        <option value="1">폭염 기온</option>
                    </select> -->
                    <!-- <form action="/graph" method="GET" id="form_test">
                        <input type="submit" value="전송" />
                    </form> -->
                    <button class="ui right labeled icon button expgo" onclick="nextExp();">
                        <i class="right arrow icon"></i>
                        Next
                    </button>
                </div>
            </div>
        </div>



    </div>
    <script>
        var expValue = ""
        function nextExp() {
            location.href = "/graph?dataset_id=" + expValue
        }
        $(document).ready(function () {
            // alert($(".ui.selection.dropdown"))
            $('.ui.dropdown')
                .dropdown({
                    onChange: function (val) {
                        console.log(val)
                        expValue = val;
                    }
                });
        })
    </script>
</body>

</html>