.MainContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
}

/* Danfo CSS */
.DanfoContainer {
    position: relative;
    width: 50vw;
    border: 1px solid blue;
}

/* Plotly CSS */
.PlotlyContainer {
    position: relative;
    width: 50vw;
    border: 1px solid red;
}

.PlotlyGraph {
    position: relative;
    width: 600px;
    height: 300px;
    border: 1px solid green;
}